.popuptitle {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'trebuchet ms';
}

.popupcontent {
    font-size: 1.4rem;
    font-weight: 200;
    margin-bottom: 30px;
    font-family: 'trebuchet ms';
}

.body-content {
    background-image: linear-gradient(to right, #9dc2fa, #eff5a5, #fcb16b);
    font-family: 'trebuchet ms';
}

.backcolor {
    background-image: linear-gradient(to right, #719ddf, #f7ff8d, #fdb97a);
}

.backcolor-formal {
    background-image: linear-gradient(to right, #3a5379, #5c8aaf, #3e8b81);
}

.color-component {
    background-image: linear-gradient(to right, #bac6d8, #a8ccca, #bac6d8);
}

.color-title-component {
    background-image: linear-gradient(to right, #99b3da, #8dcfcc, #99b3da);
    border-radius: 5px;
}

.backcolor-title {
    background-image: linear-gradient(to right, #719ddf, #f7ff8d, #fdb97a);
    border-radius: 30px;
}

.btn1 {
    border: 4px solid #61412f;
    color: #61412f;
    display: block;
    font-size: 1rem;
    font-family: 'trebuchet ms';
    letter-spacing: 0.1rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    border-radius: 10px;
}

.btn1:hover {
    text-decoration: none;
    color: #5e7de3;
}

.btn1::before {
    content: "";
    background-color: #f7956e;
    border-radius: 10px;
    position: absolute;
    left: 0.25rem;
    top: 0.5rem;
    height: 102%;
    width: 102%;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn1:hover::before {
    box-shadow: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn2 {
    border: 2px solid #382b24;
    color: #61412f;
    display: block;
    font-family: 'trebuchet ms';
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.btn2:hover {
    text-decoration: none;
    color: #5e7de3;
}

.btn2::before {
    content: "";
    background-color: #f7956e;
    box-shadow: 5px 5px 0 #eff14f, 10px 10px 0 #3498DB;
    border-radius: 10px;
    position: absolute;
    left: 0.25rem;
    top: 0.5rem;
    height: 102%;
    width: 102%;
    z-index: -1;
    transition: all 0.4s ease;
}

.btn2:hover::before {
    box-shadow: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.btn3 {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 1rem;
    font-family: 'trebuchet ms';
    letter-spacing: 0.1rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    border-radius: 10px;
    background-color: #293747;
}

.btn3:hover {
    text-decoration: none;
    border: 1px solid #fff;
    color: #76b6cf;
    background-color: #546c75;
}

.writ {
    opacity: 0.5;
    filter: alpha(opacity=80);
    font-family: 'trebuchet ms';
    font-size: 1.4rem;
    border-radius: 20px;
}

.backgroud {
    background: url("../background.jpg");
    /*background-size: 100% 100%;*/
    background-position: center;
    width: 100%;
    height: auto;
}

.content-home {
    height: 90vh;
}

.slider {
    background: url("../background5.jpg");
    background-position: center;
    width: 100%;
    height: auto;
}

.text {
    resize: none;
}

.modal-content {
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: #ffffe4;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    width: 600px;
}

.modal-open .container-fluid, .modal-open .container {
    -webkit-filter: blur(5px);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #89bce6;
    position: fixed;
    height: 50%;
    overflow: auto;
    border-radius: 20px;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: rgb(102, 129, 216);
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.content-web {
    margin-top: 78px;
}

.container-fluid {
    background-color: rgb(193, 235, 255);
}

img {
    max-width: 200%;
    height: auto;
}

.title-left {
    color: darkblue;
}

#sidebar-wrapper {
    min-height: 80vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: static;
}

#sidebar-wrapper .sidebar-heading {
    width: 10rem;
    padding: 0.875rem 1.25rem;
    font-size: 1.3rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

a {
    color: black;
}